<h1 mat-dialog-title>Add/Edit lesson</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Lesson</mat-label>
        <mat-select [(ngModel)]="data.lesson">
            <mat-option *ngFor="let lesson of lessons" [value]="lesson">
                {{lesson.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Teacher</mat-label>
        <mat-select [(ngModel)]="data.teacher">
            <mat-option *ngFor="let teacher of teachers" [value]="teacher">
                {{teacher.fio}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Apply</button>
    <button mat-button mat-dialog-close>Cancel</button> 
</div>