<h1 mat-dialog-title>Ведомость</h1>
<div mat-dialog-content>
  <mat-toolbar>
    <mat-form-field appearance="fill">
      <mat-label>Группа</mat-label>
      <mat-select [(ngModel)]="currentGroup">
        <mat-option *ngFor="let group of getGroups()" [value]="group">{{
          group.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Предмет</mat-label>
      <mat-select [(ngModel)]="currentLesson">
        <mat-option *ngFor="let lesson of getLessons()" [value]="lesson">{{
          lesson.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Start</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]="start" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <button
        matSuffix
        mat-icon-button
        aria-label="Reset"
        (click)="resetStart()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>End</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="end" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker2"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <button matSuffix mat-icon-button aria-label="Reset" (click)="resetEnd()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="fetchData()">
      Fetch
    </button>
    <button mat-raised-button color="primary" (click)="print()">Print</button>
  </mat-toolbar>
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>
      <ng-container matColumnDef="student">
        <th mat-header-cell *matHeaderCellDef>Student</th>
        <td mat-cell *matCellDef="let element">{{ element.student.fio }}</td>
      </ng-container>
      <ng-container
        *ngFor="let a of [1, 2, 3, 4, 5, 6]"
        [matColumnDef]="'date' + a"
      >
        <th
          mat-header-cell
          *matHeaderCellDef
          class="date-header"
          [ngClass]="{
            'current-date': isCurrentDate(this.getDatesForCurrentPage()[a - 1])
          }"
        >
          {{ formatDate(this.getDatesForCurrentPage()[a - 1]) }}
        </th>
        <div *ngIf="this.getDatesForCurrentPage()[a - 1]; else empty">
          <td
            mat-cell
            *matCellDef="let element"
            class="was-cell"
            [ngClass]="{ was: element.was[a - 1], wasnt: !element.was[a - 1] }"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Existance icon"
              fontIcon="done"
              *ngIf="element.was[a - 1]; else wasnt"
              class="icon"
            ></mat-icon>
            <ng-template #wasnt>
              <mat-icon
                aria-hidden="false"
                aria-label="Existance icon"
                fontIcon="close"
                class="icon"
              ></mat-icon>
            </ng-template>
          </td>
        </div>
        <ng-template #empty> 
            <td mat-cell *matCellDef="let _"></td>
        </ng-template>
      </ng-container>
      <ng-container matColumnDef="missed">
        <th mat-header-cell *matHeaderCellDef>Missed</th>
        <td mat-cell *matCellDef="let element" style="text-align: center">{{ element.missed }}</td>
      </ng-container>
      <tr
        mat-header-row
        *matHeaderRowDef="
          [
            'position',
            'student',
            'date1',
            'date2',
            'date3',
            'date4',
            'date5',
            'date6',
            'missed'
          ];
          sticky: true
        "
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: [
            'position',
            'student',
            'date1',
            'date2',
            'date3',
            'date4',
            'date5',
            'date6',
            'missed'
          ]
        "
      ></tr>
    </table>
  </div>
  <div class = "missed-stats">
    Всего пропущено: {{journal?.total_missed ??  0}} часов
  </div>
  <mat-paginator
    [length]="getDateAmount()"
    [pageSize]="6"
    [pageSizeOptions]="[6]"
    [hidePageSize]="true"
    [pageIndex]="currentPage"
    (page)="changePage($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
