mat-toolbar {
    gap: 5px;
}

table {
    width: 100%;
}

.table-wrapper {
    margin-top: 5px;
    max-height: 500px;
    overflow: auto;
}

.mat-column-student {
    border-right: 1px solid black;
}

.was-cell, .date-header {
    text-align: center;
}

.was-cell.wasnt {
    border: 1px solid red;
    .icon {
        color: red;
    }
} 

.was-cell.was {
    .icon {
        color: rgb(10, 212, 10);
    }
}

.current-date {
    background-color: orange;
}

.missed-stats {
    margin-top: 15px;
}