<h1 mat-dialog-title>Lesson marks</h1>
<div mat-dialog-content>
    <mat-selection-list #studentslist (selectionChange)="updateMarks($event)">
        <mat-list-option *ngFor="let student of students" [value]="student" [selected]="was(student)">
          {{ student.fio }}
        </mat-list-option>
      </mat-selection-list>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Apply</button>
    <button mat-button mat-dialog-close>Cancel</button> 
</div>