[mat-dialog-title] {
    text-align: center;
}

[mat-dialog-actions] {
    justify-content: center;
}

::ng-deep .mat-mdc-form-field {
    width: 100%;
    input{
        width: 90%;
        margin: 8px 0;
    }
}
