<mat-toolbar>
  <input matInput [matDatepicker]="picker" [(ngModel)]="currentDate" />
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <button matSuffix mat-icon-button aria-label="Reset" (click)="reset()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="separator"></div>
  <span>{{timeString()}}</span>
  <div class="separator"></div>
  <button mat-flat-button color="primary">Открыть текущую пару</button>
</mat-toolbar>
<mat-grid-list
  [cols]="smallScreen ? 1 : 3"
  rowHeight="400px"
  gutterSize="10px"
  class="days-wrapper"
>
  <mat-grid-tile *ngFor="let day of [0, 1, 2, 3, 4, 5]">
    <div class="day-toast-wrapper">
      <app-journal-day-toast
        [isActive]="checkIsActive(day)"
        [date]="offsetDate(day)"
        [lessons]="lessons[day]"
      ></app-journal-day-toast>
    </div>
  </mat-grid-tile>
</mat-grid-list>
