.editor-day-card {
    min-width: 350px;
    background-color: #008ae6;
    border-radius: 16px;
}

mat-card-header {
    background-color: #00548b;
    border-radius: 16px 16px 0 0;
    justify-content: center;
    padding: 8px 0px 8px 0px;
}

mat-card-title {
    color: white;
    font-size: 14pt;
}

mat-card-actions {
    gap: 5px;
}

mat-card-actions {
    justify-content: center;
}

.add-button {
    font-size: 14pt;
}

.lesson-list {
    margin: 5px;
    min-height: 60px;
}

.lesson {
    margin-top: 5px;
    cursor: move;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}


.lesson-list.cdk-drop-list-dragging .lesson:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.lesson-content {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.lesson-actions-wrapper {
    border-left: solid black 1px;
    padding-left: 5px;
    margin-left: 5px;
    display: flex;
    gap: 5px;
}