<mat-card class="editor-day-card">
    <mat-card-header>
        <mat-card-title>{{getDayName()}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="lesson-list" cdkDropList [cdkDropListData]="lessons" (cdkDropListDropped)="rearrangeLessons($event)">
            <div class="lesson" *ngFor="let lesson of lessons; let i = index;" cdkDrag>
                <div class="lesson-content">
                    <div *ngIf="lesson; else emptyLesson">
                        <span>{{i + 1}}. {{lesson.lesson.name}}, {{getShortFio(lesson.teacher.fio)}}</span>
                    </div>
                    <ng-template #emptyLesson>{{i + 1}}. &mdash;</ng-template>
                    <div class="lesson-actions-wrapper">
                        <button mat-raised-button color="accent" (click)="edit(lesson)">Edit</button>
                        <button mat-raised-button color="warn" (click)="delete(lesson)">Delete</button>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
        </div >
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button class="add-button" color="accent" (click)="addLesson()">Add</button>
    </mat-card-actions>
</mat-card>