<h1 mat-dialog-title>Add/Edit account</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="data.username">
    </mat-form-field >
    <mat-form-field appearance="fill" *ngIf="data.adding">
        <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="data.password">
        </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>FIO</mat-label>
        <input matInput [(ngModel)]="data.fio">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select [(ngModel)]="data.role">
            <mat-option *ngFor="let role of roles" [value]="role.id">
                {{role.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Apply</button>
    <button mat-button mat-dialog-close>Cancel</button> 
</div>