:host {
    width: 100%;
}

mat-toolbar {
    gap: 5px;
}

.table-wrapper {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-x: auto;
}

.mat-column-actions {
    border-left: 1px solid rgb(0, 96, 160);
    text-align: center;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgb(223, 222, 222);
}

.actions-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}